<style>
    .navbar{
        display: flex;
        border-bottom: solid #333 2px;
    }
    .navbar__link{
        margin-left: 8px;
    }
    .header__content{
        margin-top: 30px;
    }
</style>
<div class="navbar">
   
    <p class="navbar__link"><%= link_to "サインイン", new_user_session_path %></p>
    <p class="navbar__link"><%= link_to "ユーザ登録", new_user_registration_path %></p>
</div>
<div class="header__content">
    <h1><b>Home Page</b></b></h1>
</div>
